{# --- template variable defines for includes --- #}
{# form errors template expects: 'form' as Form #}
{% if form.errors %}
    <div class="row mt-1 mb-3">
        <div class="col-8 offset-2">
            <ul class="list-group">
                {% for field in form %}
                    {% for error in field.errors %}
                        <li class="list-group-item list-group-item-danger">
                            <strong>{{ field.label }}:</strong> {{ error }}
                        </li>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <li class="list-group-item list-group-item-danger">
                        {{ error }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}
