{% load static %}
<div class="row mb-3">
  <div class="col-12 mt-2 d-flex justify-content-center">
    <div class="card div__no-content-card">
      <div class="text-center mt-2">
        <img src="{% static 'img/icons8-nothing-found-96.png' %}" class="card-img-top img__no-content" alt="nothing found image">
      </div>
      <div class="card-body">
        <h4 class="card-text text-center">{{ no_content_msg }}</h4>
        {% if no_content_help %}
          <p class="text-center">{{ no_content_help | safe }}</p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
