{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container text-center div__highlight mt-5">
    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <h1>{% trans "Change Password" %}</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mt-2 offset-md-2">
            <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
                {% csrf_token %}

                {% include "snippet/form_errors.html" %}

                {% for field in form %}
                <div class="row mb-3">
                    <div class="col-sm-3">
                        <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                    </div>
                    <div class="col-sm-9">
                        {{ field }}
                    </div>
                </div>
                {% endfor %}

                <div class="row mb-3">
                    <div class="col-lg-5 offset-lg-2 col-sm-6 mt-2">
                        <a class="btn btn-secondary btn__dbl-text-lg" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
                    </div>
                    <div class="col-lg-3 col-sm-6 mt-2">
                        <button id="id--change-password" class="btn btn-primary primaryAction btn__dbl-text-lg" type="submit">{% trans "Change Password" %}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock content %}
