{% extends "account/base.html" %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container text-center div__highlight mt-5">
        <div class="row">
            <div class="col-md-8 mt-2 offset-md-2">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 mt-2 offset-md-2">
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    <form method="POST" action="{{ action_url }}">
                        {% csrf_token %}

                        {% include "snippet/form_errors.html" %}

                        {% for field in form %}
                            <div class="row mb-3">
                                <div class="col-sm-3">
                                    <label for="{{ field.auto_id }}" class="form-label">{{ field.label }}</label>
                                </div>
                                <div class="col-sm-9">
                                    {{ field }}
                                </div>
                            </div>
                        {% endfor %}

                        <div class="row mb-3 justify-content-center">
                            <div class="col-sm-6 mt-2">
                                <button id="id--change-password" class="btn btn-primary primaryAction btn__dbl-text-lg" type="submit">{% trans "Change Password" %}</button>
                            </div>
                        </div>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock content %}
