{% with toast_id="id__info-toast" toast_body_id="id__info-toast-body" %}
{# TODO make toast position updatable #}
<div id="{{ toast_id }}-container" class="toast-container position-absolute {{ toast_position }} p-3">
    <div id="{{ toast_id }}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">
                {# info modal title template expects: 'title' as modal title #}
                {#                                    'title_class' as class for title text #}
                {#                                    'modal_level' as modal level; one of 'danger', 'warn', 'info', 'question' or 'none' #}
                {% with title='Information' title_class='' modal_level='info' %}
                    {% include 'base/snippet/info_title.html' %}
                {% endwith %}
            </strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body" id="{{ toast_body_id }}">
            {# replaced by display function #}
        </div>
    </div>
</div>

<script>
    /**
     * Display the information toast
     * @param body - content to display
     * @param position - display position; default none
     * @param onClose - on close event handler; default none
     * @returns {boolean} - true if displayed
     */
    function showInfoToast(body, position = undefined, onClose = undefined) {

        const toastContainerId = "{{ toast_id }}-container";
        if (position === undefined) {
            position = "top-0 end-0";   // top right
        }
        $(`#${toastContainerId}`).attr('class', `toast-container position-absolute ${position} p-3`);

        const toastBodyId = "{{ toast_body_id }}";
        $(`#${toastBodyId}`).html(body);

        const toastElement = document.getElementById('{{ toast_id }}');

        if (onClose !== undefined) {
            toastElement.addEventListener('hidden.bs.toast', onClose);
        }

        const toast = new bootstrap.Toast(toastElement)
        toast.show()

        return true;
    }
</script>
{% endwith %}
