<!-- address_delete_modal.html start -->
{% load i18n %}
{% load form_field %}

{% with confirm_id="id__address-delete-confirm-modal" deleted_id="id__address-deleted-modal" btn_id="id--btn-address-delete-confirm" url_var_id="id__address-delete-url" entity="Address" %}
<!-- Confirm delete address modal -->
<div id="{{confirm_id}}" class="modal fade" tabindex="-1" aria-labelledby="{{confirm_id}}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <var id="{{ url_var_id }}" hidden>
                {# content replaced by click event handler for button #}
            </var>

            <div class="modal-header">
                <h5 class="modal-title" id="{{confirm_id}}-label">{{ entity }} Delete Confirm</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this {{ entity|lower }}?</p>
            </div>
            <div class="modal-footer">
                <button class="btn btn-dark btn__text" type="button" data-bs-dismiss="modal">Cancel</button>
                <button id="{{btn_id}}" class="btn btn-outline-danger btn__text" type="button" data-bs-dismiss="modal">
                    {% trans "Delete" %}
                </button>
            </div>
        </div>
    </div>
</div>

<!-- Address deleted modal -->
<div id="{{deleted_id}}" class="modal fade" tabindex="-1" aria-labelledby="{{deleted_id}}-label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="{{deleted_id}}-label">{{ entity }} Deleted</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div id="{{deleted_id}}-body" class="modal-body">
                {# --- entity_delete_result.html template variable defines for includes --- #}
                {# entity delete template expects: 'status' as success/failure status #}
                {#                                 'entity' as entity name #}
                {% include 'base/snippet/entity_delete_result.html' %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark btn__text" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

{% with identifier='dflt-addr-del' %}
    {% include 'base/snippet/info_modal.html' %}
{% endwith %}

<script>
    const addressDeleteConfirmModalSelector = "#{{confirm_id}}";
    const addressDeletedModalSelector = "#{{deleted_id}}";
    const addressDeleteModalBodySelector = "#{{deleted_id}}-body";
    const addressDeleteUrlSelector = "#{{ url_var_id }}";
    const addressDeleteBtnSelector = "#{{btn_id}}";
    const addressDeleteLinkSelector = "a[class*='a--addr-del']";
    const addressEditLinkSelector = "a[class*='a--addr-edit']";

    $(document).ready(function () {

        $(addressDeleteLinkSelector).on('click', function (event) {
            /* Add delete link to delete confirm modal and display it */
            // address_dto.html: href of delete 'a' tag
            $(addressDeleteUrlSelector).text(event.currentTarget.attributes['href'].textContent);

            // display confirmation modal
            $(addressDeleteConfirmModalSelector).modal('show');

            event.preventDefault();
            event.stopPropagation();
        });

        $(addressDeleteBtnSelector).on('click', function (event) {
            /* Delete address and display deleted result modal */
            const url = $(addressDeleteUrlSelector).text();

            $.ajax({
                method: 'delete',
                url: `${url}?ref=${window.location.pathname}`,
                headers: csrfHeader(),
            }).done(function(data) {
                const feedbackDisplayed = redirectRewriteInfoResponseHandler(data);
                if (!feedbackDisplayed) {
                    // show modal
                    $(addressDeletedModalSelector).modal('show');
                }
            }).fail(function(data) {
                // display reason
                $(addressDeleteModalBodySelector).html(data.responseJSON.html);
            });

            event.preventDefault();
            event.stopPropagation();
        });

        $(addressDeletedModalSelector).on('hidden.bs.modal', function (event) {
            /* refresh address listing after deleted result modal closed */
            document.location.href = "{% url 'addresses:addresses' %}?user={{user.username}}";
        });
    });
</script>
{% endwith %}
<!-- address_delete_modal.html end -->
