<!-- default_address_undeletable.html start -->
{# --- template variable defines for includes --- #}
{# default address undeletable template expects: 'count' as address count #}
{% load i18n %}

<div class="row mt-1 mb-1">
    <div class="text-center">
        <p>
            {% translate 'Default addresses may not be deleted.' %}
            {% if count > 1 %}
                {% translate 'Please select another default address, and then delete this address.' %}
            {% else %}
                {% translate 'Please add another default address, and then delete this address.' %}
            {% endif %}
        </p>
    </div>
</div>
<!-- default_address_undeletable.html end -->
