<!-- address_list_item.html start -->
{# --- address_list_item.html template variable defines for includes --- #}
{# address list item template expects: 'address_dto' as AddressDto #}
{#                                     'identifier' as individual identifier #}

{% load i18n  static  countries %}

<div class="row mb-3 flex-grow-1">
    <div class="col-12 text-center">
        {% for field in address_dto.display_order %}
            {% if field %}
                <p class="mb-0">{{ field }}</p>
            {% endif %}
        {% endfor %}

        {% for field in address_dto.display_order %}
            {% if not field %}
                <p class="mb-0"></p>
            {% endif %}
        {% endfor %}
    </div>
</div>
<div class="row mb-0">
    <div {% if address_dto.is_default %} class="col-sm-6" {% else %} class="col-sm-12" {% endif %}>
        <a class="a--addr-edit" href="{% url 'addresses:address_id' address_dto.id %}">{% trans "Edit" %}</a>{% if not address_dto.is_default %}&emsp;&VerticalLine;&emsp;<a class="a--addr-del" href="{% url 'addresses:address_id' address_dto.id %}">{% trans "Delete" %}</a>&emsp;&VerticalLine;&emsp;<a class="a--addr-dflt" href="{% url 'addresses:address_id_default' address_dto.id %}">{% trans "Make Default" %}</a>{% endif %}
    </div>
    {% if address_dto.is_default %}
        <div class="col-sm-6 text-end">
            <h6 class="h6--default-addr">Default</h6>
        </div>
    {% endif %}
</div>
<!-- address_list_item.html end -->
