<!-- address_list_content.html start -->
{# --- address_list_content.html template variable defines for includes --- #}
{# address list content template expects: 'paginator' as a Paginator #}
{#                                        'address_list' as a list of Address #}

{% load i18n  static  address_element_id %}

{% block address_list_content %}
    <var id="var--repeat-search-term" hidden>{{ repeat_search_term }}</var>

    {# below md: 1 per row  md-lg: 2 per row  xl+: 3 per row #}
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 mb-3">
        {% for address_dto in address_list %}

            {# address dto template expects: 'address_dto' as AddressDto #}
            {#                               'identifier' as individual identifier #}
            {#                               'content_format' as card content format; one of 'list'/'select' #}
            {#                                  'list' - address list, 'select' - address select for shipping #}
            {% with identifier=address_dto.id  content_format='list' %}
                {% include "addresses/address_dto.html" %}
            {% endwith %}
        {% endfor %}
    </div>

    {# per page and page selection #}
    {% with "Addresses per page" as per_page_aria %}
        {% include "snippet/per_page_pagination_select.html" %}
    {% endwith %}
{% endblock address_list_content %}

{% block extra_js_body %}
    {% address_element_id 'new' '' as addr_id %}
    <script>
        const ADD_ADDRESS_URL = "{% url 'addresses:address_new' %}";
        const ADD_ADDRESS_SELECTOR = "#{{ addr_id }}";
    </script>
    <script type='text/javascript' src="{% static 'js/addresses/address_dto.js' %}"></script>
{% endblock extra_js_body %}
<!-- address_list_content.html end -->
