{% extends "status_code_error.html" %}

{% load static  i18n %}

{% block head_title %}{% translate 'Bad Request' %}{% endblock head_title %}

{% block status_code_error %}
<div>
    <img src="{% static 'img/status_code/confusion.png' %}" alt="forbidden error icon" height="100" width="100" class="img__center">
</div>

<h1>{% translate 'Whir, beep, beep, bang ... does not compute' %}</h1>
<p>{% translate "Sorry, didn't quite understand that &#x1F615;" %}</p>
<div>
    <p>
        {% translate 'Please try again, go' %}
        <a href="{% url 'home' %}" aria-label="goto home page">
            {% translate "Home" %}
        </a>
    </p>
</div>
{% endblock status_code_error %}
