{% extends "status_code_error.html" %}

{% load static  i18n %}

{% block head_title %}{% translate 'Not Found' %}{% endblock head_title %}

{% block status_code_error %}
<div>
    <img src="{% static 'img/status_code/no-results.png' %}" alt="not found error icon" height="100" width="100" class="img__center">
</div>

<h1>{% translate "We're missing something" %}</h1>
<p>{% translate "Sorry, we couldn't find" %} <em>{{ request_path }}</em></p>
<div>
    <p>
        {% translate 'Take me' %}
        <a href="{% url 'home' %}" aria-label="goto home page">
            {% translate "Home" %}
        </a>
    </p>
</div>
{% endblock status_code_error %}