{% extends "status_code_error.html" %}

{% load static  i18n %}

{% block head_title %}{% translate 'Server Error' %}{% endblock head_title %}

{% block status_code_error %}
<div>
    <img src="{% static 'img/status_code/nuclear-explosion.png' %}" alt="server error icon" height="100" width="100" class="img__center">
</div>

<h1>{% translate "Well that didn't go well!" %}</h1>
<p>{% translate "It's not you it's us &#x1F627;" %}</p>
<div>
    <p>
        {% translate "Please try again later," %}
        Please try again later,
        <a href="{% url 'home' %}" aria-label="{% translate "goto home page" %}">
            {% translate "Home" %}
        </a>
    </p>
</div>
{% endblock status_code_error %}